@model WebBanlaptop.Models.KHACHHANG
@{
    ViewBag.Title = "Đổi mật khẩu";
    Layout = "~/Views/Layout/_HomeLayout.cshtml";
}
@*<div class="banner-bg-inner">
    </div>*@
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-lg-3 col-md-4">
            <div class="bg-light p-4 mb-30">
                <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                    <button onclick="location.href='@Url.Action("Index", "Home")'" class="dropdown-item" type="button">
                        <img src="~/Content/img/trangchu.png" width="25" height="25" /> Trang chủ
                    </button>
                    <hr />
                </div>
                <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                    <button onclick="location.href='@Url.Action("MyProfile", "User")'" class="dropdown-item" type="button">
                        <img src="~/Content/img/canhan.png" width="25" height="25" /> Hồ sơ của tôi
                    </button>
                    <hr />
                </div>
                <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                    <button onclick="location.href='@Url.Action("ChangePassword", "User")'" class="dropdown-item" type="button">
                        <img src="~/Content/img/doimk.png" width="25" height="25" /> Đổi mật khẩu
                    </button>
                    <hr />
                </div>
                <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                    <button onclick="location.href='@Url.Action("OdersHistory", "User")'" class="dropdown-item" type="button">
                        <img src="~/Content/img/lichsu.png" width="25" height="25" /> Lịch sử đặt hàng
                    </button>
                </div>

            </div>
        </div>
        <div class="myProfile" @*style="width:100%;display:flex; justify-content:center"*@>
            @using (Html.BeginForm(new { strURL = Request.Url.ToString() }))
            {
                Html.AntiForgeryToken();

                <form>
                    <div style="position: relative; left: 700px; width: 300px">
                        @if (TempData["AlertMessage"] != null)
                        {
                            <div id="AlertBox" class="alert @TempData["AlertType"] hide">
                                @TempData["AlertMessage"]
                            </div>
                        }
                    </div>
                    <div class="profile">
                        <h3 style="position: relative; left: 300px; width: 300px;">THAY ĐỔI MẬT KHẨU</h3>
                        <div class="form-group" style="position:relative;left:300px; width:300px">
                            <label for="oldPassword">Mật khẩu cũ</label>
                            <input type="password" class="form-control" id="oldPassword" name="oldPassword" placeholder="Mật khẩu cũ" />
                        </div>
                        <div class="form-group" style="position:relative;left:300px; width:300px">
                            <label for="newPassword">Mật khẩu mới</label>
                            <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="Mật khẩu mới">
                        </div>
                        <div class="form-group" style="position:relative;left:300px; width:300px">
                            <label for="confirmNewPassword">Nhập lại mật khẩu mới</label>
                            <input type="password" class="form-control" id="confirmNewPassword" name="confirmNewPassword" placeholder="Nhập lại mật khẩu mới">
                        </div>
                        <div class="form-group">
                            <button style="position:relative;left:300px" type="submit" class="btn btn-primary" id="save-btn"><i class="fa fa-save"></i> Cập nhật mật khẩu mới</button>

                        </div>

                    </div>
                </form>

            }
            @*<script>
                    addEventListener("load", function () {
                        setTimeout(hideURLbar, 0);
                    }, false);
                    function hideURLbar() {
                        window.scrollTo({ top: 290, behavior: 'smooth' });
                    }
                </script>*@
        </div>
    </div>

</div>



