@using WebBanlaptop.Models;
@{
    ViewBag.Title = "TimkiemDH";
    Layout = "~/Views/Layout/_AdminLayout.cshtml";
    IEnumerable<HOADON> listDonDatHang = (IEnumerable<HOADON>)ViewBag.lstDDH;
    int iDem = 0; // đếm sl sp trên trang
    int iSoLuongSPHienThi = 10;// sl nv hiển nthij trên trang
    int iTrang = 1;//số trang

    <script src="~/Scripts/admin.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.slim.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}

<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Danh sách đơn đặt hàng</h1>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">

        <div class="card-header py-3">
            @using (Html.BeginForm("TimkiemDH", "Admin", FormMethod.Post))
            {
                <div class="input-group">
                    <input type="text" name="TuKhoa" value="@ViewBag.TuKhoa" class="form-control" placeholder="Tìm kiếm mã hóa đơn">
                    <div class="input-group-append">
                        <button class="input-group-text bg-transparent text-primary">
                            <i id="btnSeach" class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            }
        </div>

        <div class="card-body">
            <div class="table-responsive">
                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="col-sm-12">
                        <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                            <thead>
                                <tr>
                                    <th rowspan="1" colspan="1">Mã hóa đơn</th>
                                    <th rowspan="1" colspan="1">Ngày đặt</th>
                                    <th rowspan="1" colspan="1">Ngày giao</th>
                                    <th rowspan="1" colspan="1">Tổng tiền</th>
                                    <th rowspan="1" colspan="1">Tên khách hàng</th>
                                    <th rowspan="1" colspan="1">Số điện thoại</th>
                                    <th rowspan="1" colspan="1">Địa chỉ giao hàng</th>
                                    <th rowspan="1" colspan="1">Yêu cầu của khách hàng</th>
                                    <th rowspan="1" colspan="1">Trạng thái</th>
                                    <th rowspan="1" colspan="1">#</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in listDonDatHang)
                                {
                                    if (iDem % iSoLuongSPHienThi == 0 && iDem != 0)
                                    {
                                        iTrang++;
                                    }
                                    <tr id="show" class="@Url.Content("odd Trang" + iTrang.ToString())">

                                        <td>@item.MAHD</td>
                                        <td>@item.NGAYLAP.Value.ToString("dd/MM/yy ")</td>
                                        <td>@item.NGAYGIAO.Value.ToString("dd/MM/yy ")</td>
                                        <td>@item.TONGTIEN.Value.ToString("#,000")</td>
                                        <td>@item.TENKH</td>
                                        <td>@item.SDTKH</td>
                                        <td>@item.DIACHIGIAOHANG</td>
                                        <td>@item.YEUCAUKHAC</td>
                                        @if (item.TRANGTHAI == 0)
                                        {
                                            <td class="invert" style="color:red;font:bold">Đơn hàng mới</td>
                                        }
                                        else if (item.TRANGTHAI == 1)
                                        {
                                            <td class="invert" style="color:red;font:bold">Đã hủy</td>
                                        }
                                        else if (item.TRANGTHAI == 2)
                                        {
                                            <td class="invert" style="color:green;font:bold">Đang giao</td>
                                        }

                                        @if (item.TRANGTHAI == 3)
                                        {
                                            <td class="invert" style="color:blue;font:bold">Đã giao</td>
                                        }
                                        <td class="invert">
                                            <abbr title="Chi tiết đơn đặt hàng">
                                                @if (item.TRANGTHAI == 0)
                                                {
                                                    using (Html.BeginForm("ChiTietDonDatHang", "Admin", new { id = item.MAHD, type = 0 }, FormMethod.Post))
                                                    {
                                                        <button type="submit" class="btn btn-info modal-change-password"><i class="fa fa-eye" aria-hidden="true"></i></button>
                                                    }


                                                }
                                                else if (item.TRANGTHAI == 1)
                                                {
                                                    <button type="button" class="btn btn-info modal-change-password" onclick="location.href='@Url.Action("ChiTietDonDatHang", "Admin",new { id = item.MAHD, type=1})'"><i class="fa fa-eye" aria-hidden="true"></i></button>

                                                }
                                                else if (item.TRANGTHAI == 2)
                                                {
                                                    <button type="button" class="btn btn-info modal-change-password" onclick="location.href='@Url.Action("ChiTietDonDatHang", "Admin",new { id = item.MAHD, type=2})'"><i class="fa fa-eye" aria-hidden="true"></i></button>

                                                }

                                                else
                                                {
                                                    <button type="button" class="btn btn-info modal-change-password" onclick="location.href='@Url.Action("ChiTietDonDatHang", "Admin",new { id = item.MAHD, type=3})'"><i class="fa fa-eye" aria-hidden="true"></i></button>
                                                }

                                            </abbr>
                                        </td>
                                    </tr>
                                    iDem++;
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">

                    <div class="col-sm-12 col-md-5">
                        <div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite">@*Trang @i/@iTrang*@ </div>
                    </div>
                    <div class="col-sm-12 col-md-7">
                        <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
                            <ul class="pagination">
                                @for (int i = 1; i <= iTrang; i++)
                                {
                                    <li class="paginate_button page-item">
                                        <a class="page-link linkTrang" data-SoTrang="@Url.Content("Trang" + i)">@i</a>
                                    </li>
                                }

                            </ul>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

</div>



@*Phần phân trang admin*@
<style>
    .odd {
        display: none;
    }

    .Trang1 {
        display: block;
        display: table-row;
    }
</style>
@*Xử lý khi click vào thì hiển thị sp theo số trang tương ứng bằng jQuery*@
<script>
    $('.linkTrang').click(function () {
        //cho tất cả các trang ẩn đi
        $(".odd").hide();
        //lây số trang từ thẻ a
        var soTrang = $(this).attr("data-SoTrang");
        //gọi class  thuộc soTrang đó thì hiển thị
        $("." + soTrang).show();
    });
</script>

